/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&family=Jersey+10&family=Caveat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Podemos mudar a fonte depois */
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #D49E9E; /* Aquele rosa queimado da sua referência */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- SCROLLBAR PERSONALIZADA (Chrome, Edge, Safari) --- */
::-webkit-scrollbar {
  width: 12px;               /* Largura da barra vertical */
  height: 12px;              /* Altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #F2EBE0;       /* O fundo da trilha (Seu Bege padrão) */
}

::-webkit-scrollbar-thumb {
  background-color: #D38AA3; /* A parte que mexe (Seu Rosa Queimado) */
  border-radius: 6px;        /* Deixa redondinho */
  border: 3px solid #F2EBE0; /* Cria uma borda bege ao redor para dar efeito de "flutuar" */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #C04C78; /* Fica Rosa Profundo quando passa o mouse */
}

/* --- SUPORTE PARA FIREFOX (Sintaxe diferente) --- */
html {
  scrollbar-width: thin;          /* Barra fininha */
  scrollbar-color: #D38AA3 #F2EBE0; /* Cor da Barra e Cor do Fundo */
}